.category-page {
  padding: 30px;
  text-align: center;
  color: #FF98C1;
}

.category-page {
  background-color: #fff2f6;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}