.my-cart {
  padding: 30px;
  background-color: #fff2f6;
}

.my-cart h2 {
  color: #FF98C1;
  text-align: center;
  margin-bottom: 20px;
}

.cart-container {
  background-color: white;
  margin: 0 auto;
  padding: 30px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.cart-items {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left; /* Force text to left */
}

.cart-item {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.cart-item img {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-price {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
}

.size {
  margin-top: 0px;
}

.remove {
  background: none;
  border: none;
  color: #541947;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.remove:hover {
  text-decoration: underline;
  color: #000;
}

.cart-summary {
  flex: 1;
  text-align: right;
  color: #541947;
}

.cart-summary p {
  margin: 8px 0;
  font-size: 16px;
}