.header {
  position: relative;
  background-color: white;
  text-align: center;
  color: #FF98C1;
  font-size: 20px;
  font-family: 'Playwrite US Modern', cursive;
  width: 100%;
  padding: 0;
  margin: 0;
}


h1 {
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 90px;
  font-size: 12px;
  padding-left: 40px;
  padding-right: 40px;
  padding: 15px;
  background-color: #FF98C1;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #ffe8ef; 
}

.contact-link {
  position: absolute;
  top: 10px;
  right: 40px;
  font-family: 'Puritan';
  color: #FF98C1;
  font-size: 16px;
  text-decoration: bold;
  padding: 30px;
}



.contact-page h2 {
  text-align: center;
}

.contact-message {
  text-align: center;
}

.contact-link {
  font-size: 18px;
  text-decoration: none;
}

p {
  font-family: 'Puritan';
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
}

.header {
  border-top: 5px solid white;
}

