.header {
  position: relative;
  background-color: #ffdce4;
  padding: 20px;
  text-align: center;
  color: #541947;
  font-size: 20px;
  font-family: 'Playwrite US Modern', cursive;
}

nav {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 50px;
  font-size: 18px;
  font-family: 'Playwrite US Modern', cursive;
  padding-left: 30px;
  padding-right: 30px;
}

nav a {
  text-decoration: none;
  color: #541947;
}

.contact-link {
  position: absolute;
  top: 10px;
  right: 40px;
  font-family: 'Puritan';
  color: #541947;
  font-size: 16px;
  text-decoration: bold;
  padding: 30px;
}

.contact-page h2 {
  text-align: center;
}

.contact-message {
  text-align: center;
}

.contact-link {
  font-size: 18px;
  text-decoration: none;
}