.product-detail {
  display: flex;
  gap: 40px;
  padding: 40px;
  background-color: white;
  width: 75%;
  justify-content: center;
  margin: 40px auto;
  max-width: 700px;    

}

.product-images img {
  width: 200px;
  height: 300px;
}

.product-info {
  text-align: left;
}

.product-info .title {
  margin-bottom: 8px;
  text-align: center;
}

.product-info .brand {
  color: gray;
  font-size: 0.9em;
  margin-top: 0px;
}

.product-attributes {
  display: flex;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.product-attributes {
  display: flex;
  gap: 40px;
  margin: 10px 0 20px;
}

.product-attributes .label {
  font-size: 0.75rem;
  color: #888;
  font-weight: 500;
  margin-right: 6px;
}

.product-attributes .value {
  font-size: 1rem;
  font-weight: 600;
  color: #FF98C1;
}

.add-to-cart {
  background-color: #FF98C1;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
  font-weight: 400;
  width: 200px;
  height: 50px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
