.card {
  background: white;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 200px;
  text-decoration: none;
  color: inherit;
}

.card-content img {
  width: 100%;
  border-radius: 4px;
}

.brand {
  color: gray;
  font-size: 0.9em;
}

.card img {
  width: 200px;       
  height: 250px;      
  object-fit: cover; 
}