.product-section {
  padding: 40px;
  text-align: center;
  color: #ff7aaf;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  color: #FF98C1;
}
